


/* !!!!!!!!!!!!!!!!     Add in more padding for the figcaption class !!!!!!!!!!!!!!!!!!!!!!*/

figcaption{
  margin-top: 25px;
  text-align: center;
  font-size: 120%;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer{
  background-color: #D1C4E9;
  margin: auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: rgba(50, 100, 255, 255);
  color: white;
}

address{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;

}
.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
.section{
  text-align: center;
  margin-top: 50px;
}

.example{
  background-color: lightGrey;
  margin-top: 15px;
}
